*.iml
*/*.iml
.gradle/
.idea/
*/.idea/
/build/
*/build/
local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
*/.settings/
*/.DS_Store
.DS_Store
/captures
.externalNativeBuild
gradlew
gradlew.bat
*.dex
*.apk
*.ap_
