<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.y">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".app.CatDogApplication"
        android:allowBackup="true"
        android:configChanges="keyboardHidden|orientation"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".mvp.activity.WelcomeActivity"
            android:theme="@style/FullTheme"
            android:icon="@mipmap/logo"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mvp.login.LoginActivity" />
        <activity android:name=".mvp.login.RegisterFaceActivity" />
        <activity android:name=".mvp.activity.MainActivity" />
        <activity
            android:name=".mvp.activity.game.astar.AStarActivity"
            android:theme="@style/FullTheme" />
        <activity
            android:name=".mvp.activity.game.party.PartyActivity"
            android:theme="@style/FullTheme" />
        <activity
            android:name=".mvp.activity.game.plus.PlusActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".mvp.activity.RoleActivity" />
        <activity
            android:name=".mvp.activity.VideoActivity"
            android:configChanges="orientation|keyboardHidden|screenLayout|screenSize" />
        <activity android:name=".mvp.activity.ASCIIImageActivity"
            android:icon="@drawable/visit"
            android:label="@string/app_name_second"
            android:launchMode="singleTask"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".mvp.activity.ArithmeticActivity" />
        <activity android:name=".mvp.activity.QuickDemoActivity" />
        <activity android:name=".mvp.activity.QuickDemo2Activity" />
        <activity android:name=".mvp.form.FormActivity" />

        <receiver android:name=".widget.WeatherWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_DISABLED" />
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/weather_widget_info" />
        </receiver>

        <service android:name=".service.WeatherService"/>

        <meta-data
            android:name="com.y.config.MvpConfig"
            android:value="ConfigModule" />

    </application>

</manifest>